/* --------A Modern CSS Reset by Josh Comeau-------- */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
  /* 2. Remove default margin and padding*/
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
img{
  height: 100%;
  width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* --------CSS reset above-------- */

/*colors*/
:root{
  --white: white;
  --black: black;
  /*homepage*/
  --home-blue: #0089aa;
  --home-light-blue: #00beed;
  --color-heading-hero: var(--home-light-blue);
  --color-underline-search: var(--home-blue);
  --color-underline-search-btn: var(--home-blue);
  --bg-color-search-btn: var(--home-blue);
  /*error*/
  --bg-color-header-error: var(--home-light-blue);
}

.main{
  height: 100vh;
}
.bg_image{
  position: absolute;
  z-index: -1;
}

/*----------home page styling----------*/
.home_page_holder{
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}
.hero_heading,
.hero_para{
  text-align: center;
  color: var(--color-heading-hero);
}
.hero_heading{
  font-size: 3rem;
}
.hero_para{
  font-size: 1.5rem;
}
.home_search_form{
  display: flex;
  height: 50px;
  justify-content: center;
}
.hero_section{
  margin-bottom: 50px;
}
.home_search_input{
  width: 60vw;
  padding-left: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-underline-search);
  background-color: rgb(255, 255, 255,0.1);
  color: var(--white);
  font-size: 1.2rem;
}
.home_search_input::-webkit-search-cancel-button{
  appearance: none;
}
.home_search_btn{
  /* width: 50px; */
  border: none;
  border-bottom: 2px solid var(--color-underline-search-btn);
  background-color: var(--bg-color-search-btn);
}
.home_bg_image{
  position: absolute;
  z-index: -1;
}
.home_search_btn svg{
  pointer-events: none;
  /*gotta set a width later*/
  width: 3rem;
}

/*Error dialog box*/
.error_holder{
  width: 70vw;
  max-width: 300px;
  height: 100px;
}
.error_dialog{
  position: absolute;
  top: 220px;
  margin: 0 auto;
}
.error_header{
  display: flex;
  background-color: var(--bg-color-header-error);
}
.error_heading{
  flex: 1;
  text-align: start;
  font-size: 1.1rem;
  padding-left: 10px;
}
.error_header button{
  width: 30px;
}
.error_text{
  padding: 10px;
}

/*Data page*/
.data_page_holder{
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 30px;
  gap: 15vw;
  height: 100%;
}
/*left*/
.data_page_left{
  display: grid;
  align-content: start;
  gap: 10px;
}
.home_btn_svg_holder svg{
  width: 3rem;
}
.data_page_search_btn{
  border: none;
  border-bottom: 2px solid var(--color-underline-search-btn);
  background-color: var(--bg-color-search-btn);
}
.data_page_search_btn svg{
  width: 2.3rem;
  pointer-events: none;
}
.data_page_search_input::-webkit-search-cancel-button{
  appearance: none;
}
.data_page_search_input{
  width: 60%;
  padding-left: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color-underline-search);
  background-color: rgb(255, 255, 255,0.1);
  color: var(--black);
  font-size: 1.2rem;
  flex: 1;
}
.data_page_search_form{
  display: flex;
  /* height: 50px; */
}
.assist_display{
  height: 20px;
}
.change_unit_btn_holder{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}
/*right*/
.intro_top>.intro_temp_display{
  font-size: 6rem;
  text-align: center;
}
.intro_icon_holder{
  display: flex;
}
.intro_icon_holder svg{
  width: 3.5rem;
}
.intro_bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.intro_location_info_holder>p:first-of-type{
  font-size: 1.5rem;
}
.data_page_right>h2{
  font-size: 1.2rem;
  /* border-top-color: red; */
}
.data_page_right>.data_card{
  height: 50px;
  display: grid;
  grid-template-columns: 4fr 4fr 1fr;
  align-items: center;
}
.data_page_right{
  display: grid;
  gap: 5px;
  overflow: auto;
  padding: 10px;
}
.data_page_right>.data_card>p{
  padding-left: 10px;
}
.data_page_right>.data_card>p+p{
  text-align: end;
}
.data_page_right>.data_card>div>svg{
  width: 1.8rem;
}
.data_page_right>.data_card>div{
  display: flex;
  justify-content: center;
}